body {
  background-color: #e56c1b;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2vw;
}

a,
p,
input {
  font-size: 1.15rem;
  font-family: "Mada", sans-serif;
}
a {
  color: #4eb0ff;
}

main header {
  margin-bottom: 2vw;
}

main header img {
  width: 10vw;
}

main .card-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 70%;
  align-self: center;
  gap: 12vw;
  padding-block: 2vw;
  box-sizing: border-box;
  background-color: #e98543;
  border-radius: 20px;
}

main .card-login img {
  object-fit: cover;
  object-position: center;
  width: 40%;
  border-radius: 20px;
}

main .card-login form {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  color: white;
}

main .card-login form h1 {
  font-family: "Madimi One", sans-serif;
  color: white;
  font-size: 2.75rem;
}

main .card-login form input[type="text"] {
  background-color: #edc8af;
  border: none;
  padding: 0.5vw;
  border-radius: 5px;
}

main .card-login form input::placeholder {
  color: white;
}

main .card-login form input[type="submit"] {
  background-color: #428bb8;
  color: white;
  width: 10vw;
  padding: 0.5vw;
  border: none;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

main .card-cadastro form input[type="submit"]:hover {
    background-color: #4eb0ff;
}