<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"  content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="../assets/ico/favicon.ico" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap" rel="stylesheet"/>
    <title>Projeto ORD - Admin</title>
</head>
<body>
    <form th:action="@{/admin}" method="post">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome"> <br> <br>
        <label for="senha">Senha</label>
        <input type="text" name="senha" id="senha"> <br> <br>

        <input type="submit" value="confirmar">
    </form>
</body>
</html>