<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/assets/ico/logoOrd.jpeg}" rel="icon" type="image/jpeg" />
    <!-- FONTS: -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap" rel="stylesheet" />
    <!-- CSS: -->
    <link rel="stylesheet" th:href="@{/css/atividade.css}" />
    <title>Ord - Atividade</title>
</head>
<body>
    <main>
        <header>
            <h1 th:text="${atividade.nivel}">nivel</h1>
            <p th:text="${atividade.nome}">atividade nome</p>
            <div class="progresso-vidas">
                <div class="progresso">
                    <span th:text="${questaoAtual}+'/'+${questoesTotal}">0/0</span>
                </div>
                <div class="vidas">
                    <img th:src="@{/assets/ico/vida-ativa.png}" alt="Ícone de vida" th:each="i : ${#numbers.sequence(1, usuarioLogado.Vidas)}">>
                </div>
            </div>
        </header>
        <div class="aviso-ord">
            <img th:src="@{/assets/faq.webp}" alt="Apenas Ord anotando suas respostas">
            <div class="balao-mensagem balao hidden">
                <p th:text="${balaoMsg}">ensino</p>
            </div>
        </div>
        <div class="questao-atividade">
            <p th:text="${questoes.get(questaoAtual-1).getEnunciado()}" th:style="${feedback} ? 'opacity: 0.2;' : ''">enunciado</p>
            <div class="opcoes-questao" th:style="${feedback} ? 'pointer-events: none; opacity: 0.2;' : ''">
                <div th:each="alternativa : ${questoes.get(questaoAtual-1).getAlternativas()}" class="opcao">
                    <div class="selecionar" onclick="select(this.parentElement)"></div> <!-- colocar um evento js pra ao clicar mudar a cor disso, pra demonstrar seleção. colocado -->
                    <p th:text="${alternativa.getTexto()}">alternativa</p>
                </div>
            </div>
        </div>

        <div class="opcoes-botoes">
            <a th:href="@{/home}">
                <button id="sair"><img th:src="@{/assets/ico/sair-ico.svg}" alt="Ícone de sair">Sair</button>
            </a>
            <form class="pular-continuar" th:action="@{/atividade}" method="post">
                <input type="hidden" name="atividadeNome" th:value="${atividade.nome}">
                <input type="hidden" name="questaoAtual" th:value="${questaoAtual}">
                <input type="hidden" id="alternativaSelecionada" name="alternativaTexto" value="">

                <input type="hidden" name="fase" th:value="${feedback} ? 'avancar' : 'validar'">

                <button type="submit" value="pular" id="pular" name="acao" class="btn">Pular</button>
                <button type="submit" id="continuar" name="acao" value="continuar" class="btn">Continuar</button>
            </form>
        </div>
    </main>

    <script>
        const alternativaSel = document.querySelector('#alternativaSelecionada')
        const continuar = document.querySelector('#continuar')
        let alternativaAnterior

        function select(alternativa) {
            alternativaSel.value = alternativa.lastElementChild.textContent;
            continuar.removeAttribute("disabled")
            alternativa.firstElementChild.style.backgroundColor = "rgb(229,108,27)"

            if(alternativaAnterior) {
                alternativaAnterior.style.backgroundColor = "#F5E6D3"
            }

            alternativaAnterior = alternativa.firstElementChild
        }
    </script>

    <!-- Sistema VLibras -->

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

    <!-- Script import VLibras -->
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <!-- Fim conteúdo VLibras -->
</body>
</html>