<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport"  content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="../assets/ico/favicon.ico" type="image/x-icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{../css/auth.css}"/>
  <title>Projeto ORD - Cadastro</title>
</head>
<body>
<header>
  <a th:href="@{/}">
    <img src="../assets/Logotipo-Claro.webp" alt="Logo do Ord, mas na versão toda branca."/>
  </a>
</header>
<main>
  <div class="card">
    <img src="../assets/cadastro.webp" alt="Imagem de uma raposa na neve observando o ambiente"/>
    <form th:action="@{/cadastro}" method="post">
      <h1>Seja Bem-vindo!</h1>
      <input type="text" name="nome" id="nome" placeholder="Digite aqui seu nome" th:value="${nome}"/>
      <input type="number" name="idade" placeholder="Digite aqui sua idade" th:value="${idade}"/>
      <input type="email" name="email" id="email" placeholder="Digite aqui seu Email" th:value="${email}"/>
      <input type="password" name="senha" id="senha" placeholder="Senha" th:value="${senha}"/>
      <input type="password" name="senha2" id="confirmarSenha" placeholder="Confirmar senha" th:value="${senha2}"/>
      <button type="button" onclick="mostrarSenha()">Ver senha</button>
      <div id="modalResponsavel" hidden>
        <h2>Email do Responsável</h2>
        <input type="email" name="emailResponsavel" placeholder="Digite o email do responsável" th:value="${emailResponsavel}">
        <button type="button" onclick="fecharModal()">Fechar</button>
      </div>
      <input type="submit" value="Cadastrar"/>
      <div th:if="${erros}">
        <ul>
          <li th:each="erro : ${erros}" th:text="${erro}"></li>
        </ul>
      </div>
      <div th:if="${mensagem}" id="popupEmail" class="alerta-email"><p th:text="${mensagem}"></p></div>
      <p>Já possui uma conta?<a href="login">Entre aqui!</a></p>
    </form>
  </div>
</main>
<footer>
  <p>©2026 Ord - all rights reserved</p>
</footer>
<script th:inline="javascript">
  const modal =document.getElementById("modalResponsavel");
  function abrirModal(){
      modal.hidden = false;
  }
  function fecharModal(){
      modal.hidden = true;
  }
 function mostrarSenha(){
      const senha = document.getElementById("senha");
      const confirmar = document.getElementById("confirmarSenha");
      if(senha.type === "password"){
          senha.type = "text";
          confirmar.type = "text";
      }else{
          senha.type = "password";
          confirmar.type = "password";
      }
  }
  let abrir =/*[[${abrirModalResponsavel}]]*/ false;
  if(abrir === true){
      abrirModal();
  }
  let mensagem =/*[[${mensagem}]]*/ null;
  if(mensagem){
      setTimeout(() => {
          let popup =
            document.getElementById("popupEmail");
          if(popup){
              popup.hidden = true;
          }
      }, 5000);
  }
</script>
</body>
</html>