<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link th:href="@{/assets/ico/logoOrd.jpeg}" rel="icon" type="image/jpeg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="../css/auth.css"/>

    <title>ORD - Recuperar Senha</title>
</head>

<body>

<header>
    <a th:href="@{/}">
        <img src="../assets/Logotipo-Claro.webp" alt="Logo do Ord, mas na versão toda branca."/>
    </a>
</header>

<main>

    <div class="card">

        <img src="../assets/EsqueciSenhaImg.jpg" alt="Imagem de uma raposa em duvida"/>

        <form id="recuperacaoForm" method="post">

            <h1>Recuperar senha</h1>

            <h1>Email:</h1>
            <input type="email" name="email" placeholder="Digite seu email">

            <input type="submit" value="Enviar"/>

            <div th:if="${erro}">
                <p th:text="${erro}"></p>
            </div>

        </form>

    </div>

</main>

<footer>
    <p>©2026 Ord - all rights reserved</p>
</footer>

<!-- Sistema VLibras -->

<div vw class="enabled">
    <div vw-access-button class="active"></div>

    <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>

<!-- Script import VLibras -->
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>

<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>

<!-- Fim conteúdo VLibras -->

<!--SCRIPT QUE CONECTA COM A PAGINA DE ESQUECI SENHA-->
<script>
    document.getElementById("recuperacaoForm").addEventListener(
            "submit",
            async function(e){
                e.preventDefault();
                const dados = {
                    email: document
                        .querySelector(
                            "input[name='email']"
                        ).value
                };
                const response = await fetch("/api/esqueci-senha",
                        {
                            method:"POST",
                            headers:{
                                "Content-Type":
                                    "application/json"
                            },
                            body:
                                JSON.stringify(dados)
                        }
                    );
                const json =await response.json();
                if(!json.sucesso){
                    alert(json.erros.join("\n"));
                    return;
                }
                alert(json.mensagem);
                window.location.href = json.redirect;
            }
        );
</script>
</body>
</html>