<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../assets/ico/favicon.ico" type="image/x-icon" />
    <!-- FONTS: -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap" rel="stylesheet" />
    <!-- CSS: -->
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{/css/track.css}">
    <link rel="stylesheet" th:href="@{/css/topicos.css}">
    <!--COMPONENTS: -->
    <link rel="stylesheet" th:href="@{/css/components/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/components/header.css}" />
    <link rel="stylesheet" th:href="@{/css/components/menu.css}" />

    <title>Projeto ORD - Home</title>
</head>

<body th:data-topico="${topicoNome}">
<div class="menu-lateral">
    <a th:href="@{/}" style="cursor: pointer;"><img th:src="@{/assets/Logotipo-Claro.webp}" alt="Logotipo claro do site Ord" /></a>
    <div class="icone-streak-vida">
        <img th:src="@{${usuarioLogado.caminhoIconPerfil}}" alt="Imagem de perfil do usuário"/>
        <div class="streak">
            <img th:src="@{/assets/ico/streak-pessoal.svg}" alt="Ícone de streak">
            <p>[[${usuarioLogado.streak}]]</p>
        </div>
        <div class="vida">
            <img th:src="@{/assets/ico/vidas.svg}" alt="Ícone de vidas">
            <p>[[${usuarioLogado.Vidas}]]</p>
        </div>
    </div>
    <nav>
        <ul>
            <a th:href="@{/home}">
                <li>Aprender</li>
            </a>
            <a th:href="@{/placar}">
                <li>Placar</li>
            </a>

            <a th:href="@{/perfil}">
                <li>Perfil</li>
            </a>
            <a th:href="@{/customizacao}">
                <li>Customização</li>
            </a>
            <a th:href="@{/missoes}">
                <li>Missões</li>
            </a>
        </ul>
        <div class="inferior-menu">

            <ul>
                <a th:href="@{/faq}">
                    <li>Ajuda</li>
                </a>
                <a th:href="@{/configs}" id="settings">
                    <img th:src="@{/assets/ico/settings.svg}" alt="ìcone de configurações">
                    <li>Configurações</li>
                </a>
                <form th:action="@{/usuario/logout/{id}(id=${usuarioLogado.id})}" method="post">
                    <button type="submit">Sair</button>
                </form>
            </ul>
        </div>
    </nav>
</div>

<main>
    <header>
        <img th:src="@{/assets/premium-ord.png}" alt="Banner de convite ao premium do Ord">
        <div class="score">
            <p>[[${usuarioLogado.score}]]</p>
            <img th:src="@{/assets/ico/star.svg}" alt="Ícone de estrela/score">
        </div>
    </header>

    <section class="home_wrapper_section">
        <div class="home">
            <img th:src="@{/assets/Ordo.gif}" alt="Raposa Ordo digitando" >
            <div class="tela">
                <div class="topicos" id="topicos-container">
                    <form th:class="top_cont" th:action="@{/home}" method="post" th:each="topico : ${topicos}">
                        <!--<div th:class="bar_prog"><div th:class="bar_2"><p>1/3</p></div></div>-->
                        <input th:type="submit" th:class="topicos_icon" th:name="topico" th:value="${topico.id}">
                        <div th:class="bar" th:text="${topico.nome}"><p>topico</p></div>
                    </form>
                </div>

                <div class="container invisivel" id="track-container">
                    <button id="exit" onclick="exit()">Sair</button>
                    <div class="track">
                        <div class="inner_box">
                            <div class="nivel nivel_n_sel" th:each="nivel: ${niveis}">
                                <h1 class="nivel_text" th:text="${nivel.nome}">nivel</h1>
                            </div>
                        </div>

                        <div class="atv_container">
                            <div class="map">
                                <div id="ordo"></div>
                                <form class="grid middle" th:each="atividade : ${atividades}" th:action="@{/atividade}" th:method="get">
                                    <div class="invisivel"></div>
                                    <label for="${atividade.nome}" class="tile"><h2 th:text="${atividade.nome}" th:data-nivel="${atividade.nivel}">atividade</h2></label>
                                    <input type="submit" id="${atividade.nome}" th:value="${atividade.id}" style="display: none">
                                    <div class="invisivel"></div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    </main>
    <footer>
        <p>©2026 Ord - all rights reserved</p>
    </footer>

    <!-- Script home: -->
    <script th:src="@{/js/home.js}"></script>

    <!-- Sistema VLibras -->

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

    <!-- Script import VLibras -->
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <!-- Fim conteúdo VLibras -->
    </body>

</html>