<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/ico/favicon.ico" type="image/x-icon">
    <!-- FONTS: -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap" rel="stylesheet" />
    <!-- CSS: -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <!-- SWIPER JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
    <title>Projeto ORD - Landing</title>
</head>

<body>
    <header class="menu-desktop">
        <img th:src="@{/assets/Logotipo-Claro.webp}" alt="Logotipo do Ord, mas com cores claras">
        <nav>
            <ul>
                <a href="#hero-section">
                    <li>Início</li>
                </a>
                <a href="#motivos-problemas">
                    <li>Problemas</li>
                </a>
                <a href="#carrossel-solucao">
                    <li>Solução</li>
                </a>
                <a href="#funcionalidades">
                    <li>Funcionalidades</li>
                </a>
                <a href="#planos">
                    <li>Planos</li>
                </a>
            </ul>
        </nav>
    </header>

    <header class="menu-mobile">
        <div class="mobile-icon">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <nav>
           <ul class="nav-list">
                <li><a href="#hero-section">Início</a></li>
                <li><a href="#motivos-problemas">Problemas</a></li>
                <li><a href="#carrossel-solucao">Solução</a></li>
                <li><a href="#funcionalidades">Funcionalidades</a></li>
                <li><a href="#planos">Planos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="hero-section">
            <div class="bordao-botoes">
                <div class="bordao">
                    <h1>Aprender e se divertir é a chave!</h1>
                    <p>Conclua nossas atividades e aprenda com um sorisso</p>
                </div>
                <div class="botoes">
                    <a href="login"><button id="login">Já tenho uma conta</button></a>
                    <a href="cadastro"><button id="criar">Começar a aprender</button></a>
                </div>
            </div>

        </section>

        <section id="motivos-problemas">
            <h2>Se identificou???</h2>
            <div class="container-problemas">
                <div class="problema" id="card-1">
                    <div class="descricao-problema">
                        <img th:src="@{/assets/ico/black-config.svg}" alt="Ícone de engrenagem">
                        <p>Problemas com configuração</p>
                    </div>
                    <div class="card-foto">
                        <img th:src="@{/assets/Configuracao.png}" alt="Ordo confuso com configurações e gatinho farmando aura">
                    </div>
                </div>

                <div class="problema" id="card-2">
                    <div class="descricao-problema">
                        <img th:src="@{/assets/ico/black-shield.svg}" alt="Ícone de engrenagem">
                        <p>Não sabe se proteger contra hackers</p>
                    </div>
                    <div class="card-foto">
                        <img th:src="@{/assets/Virus.png}" alt="Ordo asusstado com o vírus invadindo seu sistema">
                    </div>

                </div> <div class="problema " id="card-3">
                <div class="descricao-problema">
                    <img th:src="@{/assets/ico/black-file.svg}" alt="Ícone de engrenagem">
                    <p>Não acha arquivo ou pasta</p>
                </div>
                <div class="card-foto">
                    <img th:src="@{/assets/Arquivo.png}" alt="Ordo confuso com aonde estão suas pastas e arquivos">
                </div>
            </div>

                </div>
            </div>
        </section>

        <section id="carrossel-solucao">
            <h2>Pois aqui está sua solução!</h2>
            <!-- Slider main container -->
            <div class="carrossel">
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <h3>Aprenda conceitos básicos do uso de um PC</h3>
                            <img th:src="@{/assets/ico/pc.svg}" alt="Apenas um ícone de pc" class="icon-carrossel">
                            <img th:src="@{/assets/Carrossel1.png}" alt="Apenas o Ordo estudando" class="ordo-carrossel">
                            <p>Explica, de forma clara e sem jargões, o que são pastas, instalação de programas e explorador
                                de arquivos – o essencial que ninguém ensina e faz diferença no dia a dia.</p>
                        </div>
                        <div class="swiper-slide">
                            <img th:src="@{/assets/Carrossel2.png}" alt="Ordo versão kwai" class="ordo-carrossel">
                            <img th:src="@{/assets/ico/foguete.svg}" alt="Apenas um ícone de foguete" class="icon-carrossel" id="icon-2">
                            <h3>Otimize seu aprendizado de forma divertida</h3>
                            <p>Aprendizado divertido com jogos, desafios diários, XP, conquistas e ligas; cada lição é um passo
                                envolvente rumo ao domínio do computador.</p>
                        </div>
                        <div class="swiper-slide">
                            <img th:src="@{/assets/Carrossel3.png}" alt="Ordo usando um pc" class="ordo-carrossel">
                            <img th:src="@{/assets/ico/pasta.svg}" alt="Apenas um ícone de uma pasta" class="icon-carrossel" id="icon-3">
                            <h3>Domine softwares úteis</h3>
                            <p>Domínio de ferramentas como pacote Office, internet, organização, produtividade e segurança;
                                prepara para o mercado de trabalho e otimiza tarefas pessoais (currículo, finanças).</p>
                        </div>
                        ...
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>
            </div>
        </section>

        <section id="funcionalidades">
            <h2>Aprenda igual a um jogo!</h2>
            <div class="streak">
                <div class="info-streak">
                    <h3>Mantenha uma streak grandiosa!</h3>
                    <img th:src="@{/assets/ico/fire-streak.svg}" alt="Apenas um ícone de fogo que representa uma streak">
                    <p>Streak diário </p>
                </div>
                <img th:src="@{/assets/streak.png}" alt="Ordo em sua streak longa">
            </div>

            <div class="topicos">
                <img th:src="@{/assets/topicos.png}" alt="Ordo lendo tópicos">
                <div class="info-topicos">
                    <h3>Desenvolva seu conhecimento através do nosso imenso catálogo de tópicos </h3>
                    <img th:src="@{/assets/ico/white-file.svg}" alt="Apenas um ícone de livro, o que representa os tópicos">
                    <p>Tópicos diversos</p>
                </div>
            </div>

            <div class="competicoes">
                <div class="info-competicoes">
                    <p>Competições</p>
                    <img th:src="@{/assets/ico/trophy.svg}" alt="Apenas um ícone de trófeu, o que representa às competições">
                    <h3>Participe em competicões com amigos e desconhecidos!</h3>
                </div>
                <img th:src="@{/assets/Se_Competicao.png}" alt="Ordo comemorando sua posição na competição">
            </div>

            <div class="customizacao">
                <img th:src="@{/assets/cosmeticos.png}" alt="Ord aproveitando suas customizações">
                <div class="info-customizacao">
                    <p>Customização</p>
                    <img th:src="@{/assets/ico/hat-cowboy.svg}" alt="Apenas um ícone de chapéu que representa as customizações do sistema">
                    <h3>Customize para deixar tudo no seu jeitinho</h3>
                </div>
            </div>
        </section>

        <section id="planos">
            <h2>Planos:</h2>
            <div class="background-plano">
                <div class="card-plano">
                    <p>Plano Binário</p>
                    <p id="valor">R$ 19,99</p>
                    <hr>
                    <ul>
                        <li><img th:src="@{/assets/ico/validar-beneficio.png}" alt="Ícone de confirmação">Sem anúncios</li>
                        <li><img th:src="@{/assets/ico/validar-beneficio.png}" alt="Ícone de confirmação">Wallpapers personalizados</li>
                        <li><img th:src="@{/assets/ico/validar-beneficio.png}" alt="Ícone de confirmação">Vidas ilimitadas</li>
                    </ul>
                    <button>
                        Atualizar
                    </button>
                </div>
                <img th:src="@{/assets/moneyFox.webp}" alt="Ordo com sua mala de dinheiro premium">
            </div>
        </section>
    </main>

        <footer>
            <div class="footer-wave">
                <img th:src="@{/assets/footer-wave.png}" alt="Apenas um enfeite do footer, uma onda.">
            </div>
            <div class="footer-superior">
                <div class="superior-esquerdo">
                    <img src="./assets/Logotipo-Claro.webp" alt="Logotipo do Ord">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <div class="redes-sociais">
                        <img src="./assets/ico/twitter.svg" alt="Logo Twitter">
                        <img src="assets/ico/linkedin.svg" alt="Logo LinkedIn">
                        <img src="assets/ico/youtube.svg" alt="Logo Youtube">
                        <img src="assets/ico/instagram.svg" alt="Logo Instagram">
                    </div>
                </div>

                <div class="superior-direito">
                    <ul>
                        <li class="title">Lorem ipsum</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                    </ul>
                    <ul>
                        <li class="title">Lorem ipsum</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                    </ul>
                    <ul>
                        <li class="title">Lorem ipsum</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                    </ul>
                    <ul>
                        <li class="title">Lorem ipsum</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                    </ul>
                    <ul>
                        <li class="title">Lorem ipsum</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                        <li>Fusce egestas</li>
                    </ul>
                </div>
            </div>
            <div class="footer-inferior">
                <p>©2026 Ord - all rights reserved</p>
                <ul>
                    <li>Política de Privacidade</li>
                    <li>Termos</li>
                    <li>Código de Segurança</li>
                </ul>
            </div>
        </footer>

    <!-- SCRIPT SWIPER JS (NÃO APAGAR!!!!!!!!!!) -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script th:src="@{/js/meuSwiper.js}"></script>

    <!-- Script menu-mobile -->
    <script>
        const icon = document.querySelector('.mobile-icon');
        const nav = document.querySelector('.menu-mobile nav');

        icon.addEventListener('click', () => {
        nav.classList.toggle('ativo');
        icon.classList.toggle('aberto');
});
    </script>

    <!-- Sistema VLibras -->

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

    <!-- Script import VLibras -->
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <!-- Fim conteúdo VLibras -->
</body>
</html>