<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/ico/favicon.ico" type="image/x-icon">
    <!-- FONTS: -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap" rel="stylesheet" />
    <!-- CSS: -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Projeto ORD - Landing</title>
</head>

<body>
    <header>
        <img th:src="@{/assets/Logotipo-Claro.webp}" alt="Logotipo do Ord, mas com cores claras">
    </header>
    <main>
        <section class="hero-section">
            <div class="bordao-botoes">
                <div class="bordao">
                    <h1>Aprender e se divertir é a chave!</h1>
                    <p>Conclua nossas atividades e aprenda com um sorisso</p>
                </div>
                <div class="botoes">
                    <a href="login"><button id="login">Já tenho uma conta</button></a>
                    <a href="cadastro"><button id="criar">Começar a aprender</button></a>
                </div>
            </div>

        </section>

        <section class="motivos-problemas">
            <h2>Se identificou???</h2>
            <div class="container-problemas">
                <div class="problema" id="card-1">
                    <div class="descricao-problema">
                        <img th:src="@{/assets/ico/black-config.svg}" alt="Ícone de engrenagem">
                        <p>Problemas com configuração</p>
                    </div>
                    <div class="card-foto">
                        <img th:src="@{/assets/Configuracao.png}" alt="Ordo confuso com configurações e gatinho farmando aura">
                    </div>
                </div>

                <div class="problema" id="card-2">
                    <div class="descricao-problema">
                        <img th:src="@{/assets/ico/black-config.svg}" alt="Ícone de engrenagem">
                        <p>Problemas com configuração</p>
                    </div>
                    <div class="card-foto">
                        <img th:src="@{/assets/Configuracao.png}" alt="Ordo confuso com configurações e gatinho farmando aura">
                    </div>

                </div> <div class="problema " id="card-3">
                <div class="descricao-problema">
                    <img th:src="@{/assets/ico/black-config.svg}" alt="Ícone de engrenagem">
                    <p>Problemas com configuração</p>
                </div>
                <div class="card-foto">
                    <img th:src="@{/assets/Configuracao.png}" alt="Ordo confuso com configurações e gatinho farmando aura">
                </div>
            </div>

                </div>
            </div>
        </section>

        <section class="carrossel-solucao">

        </section>

        <section class="funcionalidades">

        </section>

        <section class="planos">

        </section>
    </main>

    <footer>
        <div class="footer-wave">
            <img src="./assets/footer-wave.webp" alt="Apenas um enfeite do footer, uma onda.">
        </div>
        <div class="footer-superior">
            <div class="superior-esquerdo">
                <img src="./assets/Logotipo-Claro.webp" alt="Logotipo do Ord">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <div class="redes-sociais">
                    <img src="./assets/ico/twitter.svg" alt="Logo Twitter">
                    <img src="assets/ico/linkedin.svg" alt="Logo LinkedIn">
                    <img src="assets/ico/youtube.svg" alt="Logo Youtube">
                    <img src="assets/ico/instagram.svg" alt="Logo Instagram">
                </div>
            </div>

            <div class="superior-direito">
                <ul>
                    <li id="title">Lorem ipsum</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                </ul>
                <ul>
                    <li id="title">Lorem ipsum</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                </ul>
                <ul>
                    <li id="title">Lorem ipsum</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                </ul>
                <ul>
                    <li id="title">Lorem ipsum</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                </ul>
                <ul>
                    <li id="title">Lorem ipsum</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                    <li>Fusce egestas</li>
                </ul>
            </div>
        </div>
        <div class="footer-inferior">
            <p>©2026 Ord - all rights reserved</p>
            <ul>
                <li>Política de Privacidade</li>
                <li>Termos</li>
                <li>Código de Segurança</li>
            </ul>
        </div>
    </footer>
</body>

</html>