<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="../assets/ico/favicon.ico" type="image/x-icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="../css/auth.css"/>
  <title>Projeto ORD - Login</title>
</head>

<body>
<header>
  <a th:href="@{/}">
    <img src="../assets/Logotipo-Claro.webp" alt="Logo do Ord, mas na versão toda branca."/>
  </a>
</header>
<main>
  <div class="card">
    <img src="../assets/login.webp" alt="Imagem de uma raposa na neve observando o ambiente"/>
    <form th:action="@{/login}" method="post">
      <h1>Bem-vindo de volta</h1>
      <input type="email" name="email" id="email" placeholder="E-mail" th:value="${emailExistente != null ? emailExistente : (email != null ? email : logadoEmail)}"/>
      <input type="password" name="senha" id="senha" placeholder="Senha" th:value="${logadoSenha}"/>
      <button type="button" onclick="mostrarSenha()">Ver senha</button>
      <a th:href="@{/esqueci-senha}">Esqueceu a senha?</a>
      <input type="submit" value="Login"/>

      <div th:if="${erros}">
        <ul>
          <li th:each="erro : ${erros}" th:text="${erro}"></li>
        </ul>
      </div>
      <div th:if="${sucesso}"><p th:text="${sucesso}"></p></div>
      <div th:if="${mensagem}"><p th:text="${mensagem}"></p></div>
      <p>Não possui uma conta? Crie <a href="cadastro">aqui!</a></p>
    </form>
  </div>
  <div th:if="${emailJaExiste}"><script>alert("Esse email já está cadastrado. Faça login.");</script></div>
  <div th:if="${mensagem}"><script>alert("Um email de recuperação foi enviado.");</script></div>
</main>
<footer><p>©2026 Ord - all rights reserved</p></footer>
<script>
  function mostrarSenha(){
      const senha = document.getElementById("senha");
      if(senha.type === "password"){
          senha.type = "text";
      }else{
          senha.type = "password";
      }
  }
</script>
</body>
</html>