<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/assets/ico/logoOrd.jpeg}" rel="icon" type="image/jpeg" />
    <!-- FONTS: -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap" rel="stylesheet" />
    <!-- CSS: -->
    <link rel="stylesheet" th:href="@{/css/missoes.css}" />
    <!--COMPONENTS: -->
    <link rel="stylesheet" th:href="@{/css/components/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/components/header.css}" />
    <link rel="stylesheet" th:href="@{/css/components/menu.css}" />
    <title>Ord - Missões</title>
</head>

<body>
<div class="menu-lateral">
    <a th:href="@{/}"><img th:src="@{/assets/Logotipo-Claro.webp}" alt="Logotipo claro do site Ord" /></a>
    <div class="icone-streak-vida">
        <img th:src="@{${usuarioLogado.caminhoIconPerfil}}" alt="Imagem de perfil do usuário"/>
        <div class="streak">
            <img th:src="@{/assets/ico/streak-pessoal.svg}" alt="Ícone de streak">
            <p>[[${usuarioLogado.streak}]]</p>
        </div>
        <div class="vida">
            <img th:src="@{/assets/ico/vidas.svg}" alt="Ícone de vidas">
            <p>[[${usuarioLogado.Vidas}]]</p>
        </div>
    </div>
    <nav>
        <ul>
            <a th:href="@{/home}">
                <li>Aprender</li>
            </a>
            <a th:href="@{/placar}">
                <li>Placar</li>
            </a>

            <a th:href="@{/perfil}">
                <li>Perfil</li>
            </a>
            <a th:href="@{/customizacao}">
                <li>Customização</li>
            </a>
            <a th:href="@{/missoes}">
                <li>Missões</li>
            </a>
        </ul>
        <div class="inferior-menu">

            <ul>
                <a th:href="@{/faq}">
                    <li>Ajuda</li>
                </a>
                <a th:href="@{/configs}" id="settings">
                    <img th:src="@{/assets/ico/settings.svg}" alt="ìcone de configurações">
                    <li>Configurações</li>
                </a>
                <button type="button" onclick="logout()">Desconectar</button>
            </ul>
        </div>
    </nav>
</div>

<main>

        <div class="breve">
            Em breve.....
        </div>

    </main>

    <footer style="display: none;"> <!-- dps tira... -->
        <p>©2026 Ord - all rights reserved</p>
    </footer>

<!-- Sistema VLibras -->

<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>

<!-- Script import VLibras -->
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>
<!-- Fim conteúdo VLibras -->

<!--SCRIPT DO LOGOUT-->
<script>
    async function logout(){
        try{
            const response = await fetch("/api/logout",{method: "POST"});
            const json = await response.json();
            if(json.sucesso){
                window.location.href = json.redirect;
            }
        }catch(error){
            console.error(error);
            alert("Erro ao realizar logout");
        }
    }
</script>
</body>
</html>