main .breve {
    background-color: #F5E6D3;
    font-size: 3rem;
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Madimi One", sans-serif;
    position: fixed;
    top: 20vw;
    right: 27vw;
}