body{
    background-color: #FFEADC;
}

nav{
    background-color: #E56C1B;
    padding: .5vw;
    width: 90%;
}

p, a, li, h1 {
  font-family: "Madimi One", sans-serif;
}


nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
}
nav ul a {
    text-decoration: none;
    color: white;
}

.faq_section{
    background-color: white;
    padding: .5vw;
    position: absolute;
    top: 10vw;
    right: 10vw;
    width: 60vw;
    gap: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2vw;
}

.faq_section h1{
    margin-left: 2.5vw;
    font-family: "Madimi One", sans-serif;
} 

.faq_section > img {
width: 20vw;
}

.faq_section p{
    margin-left: 1.5vw;
    font-family: "Madimi One", sans-serif;
    font-size: 1.4rem;
}

.container{
    display: flex;
    gap: 2vw;
    align-items: center;
}

.faq_section #missao .sub-missao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.faq_section #loja .sub-loja {
    display: flex;
    flex-direction: column;
    align-items: center;
}
