body{
    background-color: #FFEADC;
}

nav{
    background-color: #E56C1B;
    padding: .5vw;
    width: 90%;
}

p, a, li, h1 {
  font-family: "Madimi One", sans-serif;
}


nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
}
nav ul a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    padding-right: 6vw;
    flex-direction: column;
    margin-block: 2vw;
    padding-right: 6vw;
    align-items: end;}

.faq_section{
    box-sizing: border-box;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-block: 12vw;
    padding-right: 5vw;
}

.faq {
    padding: .5vw;
    padding-inline: 2vw;
    background-color: white;
    width: 60vw;
    gap: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.faq_section h1{
    margin-left: 2.5vw;
    font-family: "Madimi One", sans-serif;
} 

.faq_section > img {
width: 20vw;
}

.faq_section p{
    margin-left: 1.5vw;
    font-family: "Madimi One", sans-serif;
    font-size: 1.4rem;
}
.faq_section li{
    margin-left: 1vw;
    font-family: "Madimi One", sans-serif;
    font-size: 1.2rem;
}

.container{
    display: flex;
    gap: 2vw;
    align-items: center;
}

.faq_section #missao .sub-missao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.faq_section #loja .sub-loja {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq_section #streak .container img {
    width: 3vw;
}
.faq_section #vidas .container img {
    width: 3vw;
}

