body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFEADC;
  align-items: center;
  position: relative;
}

a,
main p {
  font-family: "Mada", sans-serif;
}

a,
p {
  font-size: 1.15rem;
}

main {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding-right: 6vw;
    flex-direction: column;
    margin-block: 2vw;
    padding-right: 6vw;
    align-items: end;
    position: relative;
}

.home_wrapper_section {
    position: absolute;
    top: 10vw;
    right: 20vw;
}

.home{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: -2vw;
    position: relative
}
.home img{
    position: absolute;
    bottom: -16vw;
}

.tela{
    background-image: url('../assets/monitor.png');
    background-repeat: no-repeat;
    position: relative;
    width: 40vw;
    height: 30vw;
}

footer { /* nessa page em específico, é necessário*/
    position: fixed;
    width: 100%;
    bottom: 0;
}