body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #ffeadc;
}

header {
  background-color: #e56c1b;
  border-bottom: 1vw solid #d45113;
  padding-block: 0.5vw;
  padding-inline: 1.5vw;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  color: #e56c1b;
  font-family: "Madimi One", sans-serif;
  font-size: 3rem;
}

li,
p,
h3,
button {
  font-size: 1.15rem;
  font-family: "Mada", sans-serif;
}

main .hero-section {
  background-image: url(../assets/background-landing.webp);
  width: 100%;
  height: 150vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

main .hero-section .bordao-botoes {
  display: flex;
  flex-direction: column;
}

main .hero-section .bordao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vw
}

main .hero-section .bordao p {
  font-family: "Madimi One", sans-serif;
  font-size: 2rem;
  color: white;
}

main .hero-section h1 {
  font-family: "Madimi One", sans-serif;
  color: white;
  font-size: 5rem;
  margin-bottom: 0;
}

main .hero-section .botoes {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

main .hero-section .botoes button {
  font-size: 2rem;
  border-radius: 20px;
  width: 20vw;
  height: 3vw;
  font-family: "Madimi One", sans-serif;
  color: white;
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

main .hero-section .botoes button:hover {
  transform: scale(1.05);
}

main .hero-section .botoes #login {
  background-color: #327600;
  border: none;
}

main .hero-section .botoes #login:hover {
  background-color: #255503;
}

main .hero-section .botoes #criar {
  background-color: #e56c1b;
  border: none;
}

main .hero-section .botoes #criar:hover {
  background-color: #f25107;
}

.motivos-problemas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motivos-problemas .container-problemas {
    width: 90%;
    background: linear-gradient(to bottom, white 50%, #242222 50%);
    height: 85vw;
    border-radius: 20px;
    position: relative;
}

.motivos-problemas .container-problemas .problema .descricao-problema{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.motivos-problemas .container-problemas .problema .card-foto{
    display: flex;
    align-items: center;
    justify-content: center;
    padding 2vw;
    border-radius: 20px;
    width: 34vw;
    height: 28vw;
    }

.motivos-problemas .container-problemas .problema .card-foto img {
    width: 30vw;
}

.motivos-problemas .container-problemas #card-1.problema {
    position: absolute;
    top: 1vw;
    left: -2vw;
    }
.motivos-problemas .container-problemas #card-2.problema {
    position: absolute;
    top: 22vw;
    left: 29vw;
}

.motivos-problemas .container-problemas #card-3.problema {
    position: absolute;
    top: 50vw;
    right: 0;
}

.motivos-problemas .container-problemas #card-2.problema .descricao-problema {
       justify-self: end;
        margin-right: 1vw;
}

.motivos-problemas .container-problemas #card-3.problema .descricao-problema  {
    color: white;
    justify-self: center;
}

.motivos-problemas .container-problemas #card-1.problema .card-foto {
    background-color: #29C4C9;
}

.motivos-problemas .container-problemas #card-2.problema .card-foto {
    background-color: #A32626;
}

.motivos-problemas .container-problemas #card-3.problema .card-foto {
    background-color: #D7D744;
}

footer {
  background-color: #d45113;
  padding-block: 2vw;
  padding-inline: 4vw;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  position: relative;
  margin-top: 35vw;
}

footer .footer-wave {
  width: 100%;
  position: absolute;
  left: 0;
  top: -26vw; /*isso aqui salvou vidas.*/
}

footer .footer-wave img {
  width: 100%;
}

footer .footer-superior {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
}

footer .footer-superior .superior-esquerdo {
  display: flex;
  flex-direction: column;
}

footer .footer-superior .superior-esquerdo > img {
  width: 10vw;
}
footer .footer-superior .superior-esquerdo .redes-sociais {
  display: flex;
  gap: 1vw;
}

footer .footer-superior .superior-esquerdo .redes-sociais img {
  width: 2vw;
  padding: 0.5vw;
  border: 2px solid white;
  border-radius: 100%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

footer .footer-superior .superior-esquerdo .redes-sociais img:hover {
  transform: scale(1.1);
}

footer .footer-superior .superior-direito {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4vw;
}

footer .footer-superior .superior-direito ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

footer .footer-superior .superior-direito ul #title {
  font-weight: bolder;
  font-size: 1.25rem;
  margin-bottom: 1vw;
}

footer .footer-inferior {
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}

footer .footer-inferior ul {
  list-style: none;
  display: flex;
  gap: 2vw;
}

/* RESPONSIVIDADE: */

/* GOLIAS */
@media (max-width: 1366px) {

}

/* TABLET GRANDE */
/*
@media (max-width: 1180px) {
}

*/

/* TABLET */
@media (max-width: 1024px) {

}

/* CELULAR GRANDE */
@media (max-width: 768px) {

}

/* CELULAR MÉDIO */
@media (max-width: 480px) {
}

/* CELULAR PEQUENO */
@media (max-width: 320px) {
}
