main header {
  display: flex;
  gap: 25vw;
  margin-right: 5vw;
}

main header > img{
    width: 25vw;
}

main header .score {
  display: flex;
  gap: 0.5vw;
  align-items: center;
}
main header .score img {
  width: 3vw;
}

main header .score p {
  font-size: 1.35rem;
  font-family: "Madimi One", sans-serif;
  color: black;
}